<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLKSConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=QLKS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.sinhvienPCConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=sinhvienPC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>